.gamePage {
  min-height: 100vh;
  position: relative;
  padding: 16px;

  background-image: url("/backgroundLogin.png") no-repeat;
  background-size: cover;
  background-position: center;
}

#game-container {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}