.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: none;
}

.login-wrapper {
  width: 420px;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.10);
  border: 2px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: white;
  border-radius: 15px;
  padding: 30px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-wrapper h1 {
    font-size: 40px;
    font-family: Fjalla One, sans-serif;
    text-align: center;

     background: linear-gradient(135deg, #00c2ff, #7cff00, #ff7a00, #ff003c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: hueRotate 5s linear infinite;
  margin: 0 0 18px;
}

@keyframes hueRotate {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}


.login-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 40px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.login-wrapper button {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 700;
}